name: nian_toolkit
description: In-app debugging toolkit with floating ball, inspectors, and utilities.
version: 0.0.5
homepage: https://github.com/Aquarius-M/nian_toolkit
repository: https://github.com/Aquarius-M/nian_toolkit
issue_tracker: https://github.com/Aquarius-M/nian_toolkit/issues

topics:
  - debug
  - devtools
  - dio
  - logging

platforms:
  android:
  ios:

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.22.0'

dependencies:
  flutter:
    sdk: flutter
  vector_math: ^2.2.0
  
  device_info_plus: ^12.3.0
  package_info_plus: ^9.0.0
  network_info_plus: ^7.0.0
  dio: ^5.9.1
  path_provider: ^2.1.5

  image: ^4.7.2

  sqflite: ^2.4.1
  sqlite_viewer2: ^2.0.0
  shared_preferences: ^2.5.4
  reorderables: ^0.6.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  # assets:
  #   - assets/
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/to/asset-from-package
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # To add custom fonts to your plugin package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/to/font-from-package
